<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>433327230332-kaogqr4b544c5t6ro2e3cflrpe9ik9gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433327230332-kaogqr4b544c5t6ro2e3cflrpe9ik9gn</string>
	<key>API_KEY</key>
	<string>AIzaSyDGrxCxL-ibuGnewKXQWVE5c0b3TjAE6tE</string>
	<key>GCM_SENDER_ID</key>
	<string>433327230332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jadghadry.theia-ios</string>
	<key>PROJECT_ID</key>
	<string>theia-e9bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>theia-e9bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433327230332:ios:e77392d329486944</string>
	<key>DATABASE_URL</key>
	<string>https://theia-e9bcd.firebaseio.com</string>
</dict>
</plist>